<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <bold><title>Component Library | Dheeraj Sharma</title></bold>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <h1>component library for portfolio</h1>
    <p>
      This component library will be used to create the portfolio website using
      sections from this library to syle components of the website.
    </p>
    <hr />

    <h2>@typography</h2>
    <h1>Biggest text</h1>
    <h2>second biggest heading</h2>
    <p>
      All para text will be of this size.Some words can be made
      <strong>bold</strong> using strong tag
    </p>
    <small>This is relatively smaller text to para.</small>
    <hr />

    <h2>@container</h2>
    <h3>fluid container</h3>
    <div class="container">
      This container will go from end to end of the screen.
    </div>
    <h3>centered container</h3>
    <div class="container container-center">
      This container will stay in the centre of the screen and will not go from
      end to end rather shift to another line
    </div>
    <hr />

    <h2>@links</h2>
    <a class="link link-primary" href="#">Primary Link</a>
    <a class="link link-secondary" href="#">Secondary Link</a>
    <hr />

    <h2>@lists</h2>
    <h3>unordered lists</h3>
    <ul class="list list-non-bullet">
      <li>Item1</li>
      <li>Item2</li>
      <li>Item3</li>
    </ul>
    <h3>unordered list inline</h3>
    <ul class="list list-non-bullet">
      <li class="list-item list-item-inline">Item1</li>
      <li class="list-item list-item-inline">Item2</li>
      <li class="list-item list-item-inline">Item3</li>
    </ul>
    <h3>Ordered list reversed</h3>
    <ol reversed>
      <li>Item1</li>
      <li>Item2</li>
      <li>Item3</li>
    </ol>
    <hr />

    <h2>@nav</h2>
    <nav class="navigation">
      <div class="brandName">BrandName</div>
      <ul class="list-non-bullet">
        <li class="list-item-inline">
          <a class="link link-active" href="#">home</a>
        </li>
        <li class="list-item-inline"><a class="link" href="#">projects</a></li>
        <li class="list-item-inline"><a class="link" href="#">blogs</a></li>
      </ul>
    </nav>
    <hr />

    <h2>@header</h2>
    <header class="hero">
      <img class="hero-img" src="../images/undraw_dev_productivity_umsq.svg" />
      <h1 class="hero-heading">
        heading for hero with
        <span class="hero-heading-inverted">inverted text</span>
      </h1>
    </header>
    <hr />

    <h2>@section</h2>
    <section class="section w">
      <h1 class="h1">@white background</h1>
      <div class="container container-center">
        <p>
          Static block is a set of statements, which will be executed by the JVM
          before execution of main method. At the time of class loading if we
          want to perform any activity we have to define that activity inside
          static block because static block execute at the time of class
          loading. In a class we can take any number of static block but all
          these static block will execute from top to bottom.
        </p>
      </div>
    </section>
    <section class="section ow">
      <h1 class="h1">@off-white background</h1>
      <div class="container container-center">
        <p>
          Static block is a set of statements, which will be executed by the JVM
          before execution of main method. At the time of class loading if we
          want to perform any activity we have to define that activity inside
          static block because static block execute at the time of class
          loading. In a class we can take any number of static block but all
          these static block will execute from top to bottom.
        </p>
      </div>
    </section>
    <hr />

    <h2>@footer</h2>
    <footer class="footer container">
      <h3 class="h3">small heading inside footer</h3>
      <ul class="social-links list-non-bullet">
        <li class="list-item-inline">
          <a class="link link-secondary" href="#">social1</a>
        </li>
        <li class="list-item-inline">
          <a class="link link-secondary" href="#">social2</a>
        </li>
        <li class="list-item-inline">
          <a class="link link-secondary" href="#">social3</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
